body {
    background-color: #1e1e1e;
}
.table-img{
    height: 400px;
    width: 100%;
}
.table-img-target{
    width: 100%;
    height: 400px;
}

table,
tbody,
tr,
th,
td {
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(20px)
}