body {
    background-color: #1e1e1e;
}

.table-img {
    max-height: 400px;
    width: 100%;
}

.navbar-brand {
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    color: orange;
}

table,
tbody,
tr,
th,
td {
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(20px)
}

a {
    text-decoration: none;
}

.BOX2 {
    display: none;
}

.BOX1 {
    display: none;
}

.BOX0 {
    display: block;
}