body {
    background-color: #1e1e1e;
}

.table-img {
    max-height: 400px;
    width: 100%;
}

.navbar-brand {
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    color: orange;
}

table,
tbody,
tr,
th,
td {
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(20px)
}

a {
    text-decoration: none;
}

.BOX2 {
    display: none;
}

.BOX1 {
    display: none;
}

.BOX0 {
    display: block;
}

.BOX3 {
    display: none;
}

.BOX4 {
    display: none;
}

.rotate-center {
    animation: rotate-center 2.5s ease-in infinite;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);

    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-center2 {
    animation: rotate-center2 2s linear infinite;
}

@keyframes rotate-center2 {
    0% {
        transform: rotate(0);

    }

    100% {
        transform: rotate(360deg);
    }
}

.heartbeat {
    animation: heartbeat 1s ease-in infinite;
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.90);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(1.1);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.80);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

.vibrate {
    animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

.flick {
    animation: flicker-1 1.75s linear infinite;
}

@keyframes flicker-1 {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60% {
        transform: translateX(5px);
    }

    80% {
        transform: translateX(2px);
    }

    90% {
        transform: translateX(-2px);
    }
}