body {
  background: url("../images/smoke.jpeg");
  background-color: #303030;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.offcanvas a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4em;
  color: #ffffff;
  transition: transform 100ms ease-in-out;
}

.offcanvas a:hover,
.offcanvas a:focus {
  color: orange;
}

.offcanvas a:hover {
  transform: scale(1.2);
}

.navbar-brand {
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  color: orange;
}

.container .card {
  background: rgba(0, 0, 0, 0) !important;
  max-width: 250px;
}